body{

}

#shootercontainer {
    position: absolute;
    bottom: 3rem;
    width: 90%;
}

.invader {
    font-size: 2.5rem;
}

#shooter {
    font-size:3rem;
}

#youdied {
    position: absolute;
    top:45%;
    left:33%;
    color: red;
    font-size: 4rem;
    opacity: 0;
}