body{
    background-color: black;
    width: 90%
}


.invader {
    font-size: 2.5rem;
}

.deadinvader {
    opacity: 10%;    
}

#shootercontainer {
    position: absolute;
    bottom: 3rem;
    width: 90%;
}

#shooter {
    font-size:3rem;
}

.bullet {
    position: absolute;
    right: 0;
}

#youdied {
    position: absolute;
    top:40%;
    left:33%;
    color: red;
    font-size: 4rem;
    opacity: 0;
}